
@import url(http://fonts.googleapis.com/css?family=Lato);
.SUS_platform_ext{
	font-family: 'Lato', sans-serif;
	position:fixed;
	width:450px;
	right:-470px;
	top:0;
	box-shadow: -10px 0px 20px -5px rgba(0,0,0,0.3);
	height:100%;
	background-color:#fff;
	transition: All 0.5s ease;
	-webkit-transition: All 0.5s ease;
	z-index:99999999999999;
	 box-sizing: border-box;
	 padding:10px;
	 overflow:hidden;
	 background-image:url('chrome-extension://__MSG_@@extension_id__/src/dryfrost.png');
	 background-position:bottom;
	 background-repeat: no-repeat;
}
.SUS_platform_ext p{
	font-size:16px;
	font-weight:bold;
	text-align:center;
	width:100%;
	border-top:solid;
	border-width:2px;
	border-color: #eee;
	padding-top:10px;
	color:#333;
border-color: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(25%,#eeeeee), color-stop(75%,#eeeeee), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
border-color: -webkit-linear-gradient(left,  #ffffff 0%,#eeeeee 25%,#eeeeee 75%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
border-color: linear-gradient(to right,  #ffffff 0%,#eeeeee 25%,#eeeeee 75%,#ffffff 100%); /* W3C */
}
.SUS_platform_ext .square{
	box-sizing: border-box;
	width:25px !important;
	height:25px !important;
	border:solid;
	border-width:2px;
	border-color:#333;
	display: inline-block;
	margin-left:30.5px;
	margin-right:30.5px;
	margin-top:10px;
	margin-bottom:10px;
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	border-radius:4px;		
}
.SUS_platform_ext div{
	transition: All 0.3s ease;
	-webkit-transition: All 0.5s ease;
}
.SUS_platform_ext .first{
	opacity: 1
}
.SUS_platform_ext .second{
	display:none;
	opacity:0;
}
.SUS_platform_ext .secondActive{
	display: block;
	opacity:1;
}
.SUS_platform_ext .firstUnactive{
	display:none;
	opacity: 0;
}
.SUS_platform_ext .square:hover, .SUS_Active_N{
	background-color: #333;
}
.SUS_platform_ext span{
	display:block;
	width:200px;
}
.SUS_platform_ext .left{
	float:left;
	color:#ff4242;
}
.SUS_platform_ext .right{
	float:right;
	text-align:right;
	color:#59B21B;
}
.SUS_platform_ext .clear{
	height:2px;
	width:100%;
	clear:both;
}
 .SUS_active{
	right:0px;
}
.SUS_platform_ext img{
	width:100%;
}
.SUS_platform_ext h1, .SUS_platform_ext h2{
	font-size:48px;
	text-align:center;
	padding-top:25px;
	padding-bottom:25px;
}
.SUS_platform_ext h3{
	font-size:28px;
	text-align:center;
}
.sus-above-av{
	color:#59B21B;
}
.sus-below-av{
	color:#ff4242;
}
.SUS-error{
	opacity:0;
	color:#ff4242 !important;	
	text-align:center;
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	border:none !important;
}
.SUS-visible{
	opacity:1;
}
.next, .SUS-reset{
	position:static;
	width:300px;
	display:block;
	text-align:center;
	border:solid;
	border-width:2px;
	border-color:#333;
	color:#333;
	font-weight:bold;
	padding-top:15px;
	padding-bottom:15px;
	border-radius:2px;
	padding-left:50px;
	padding-right:50px;
	margin:0 auto;
	margin-top:20px;	
	outline: none;
  text-decoration: none;
}
